* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Playfair Display", serif;
}
.container {
  margin: 0 auto;
  width: 1280px;
}
.header {
  box-shadow: inset 300px 100px 300px 10px #000000c4;
  background: url(../img/coffee__background.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
  height: 768px;
}
.nav {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__list {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.nav__item {
  margin: 0 30px;
}
.nav__item a {
  color: #fff;
  text-decoration: none;
}
.sign a {
  color: #fff;
  text-decoration: none;
}
.sign button {
  margin-left: 35px;
  width: 100px;
  height: 48px;
  flex-shrink: 0;
  color: #1e1e1e;
  font-family: Playfair Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 24px;
  background: #f9c06a;
  box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
}
.hero {
  margin-top: 116px;
  color: #fff;
}
.hero h2 {
  color: #fff;
  font-family: Playfair Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 50px;
}
.hero p {
  margin: 20px 0;
  text-align: justify;
  width: 570px;
  color: #fff;
  font-family: Playfair Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.hero button {
  color: #1E1E1E;
  font-family: Playfair Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 134px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #F9C06A;
  box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
}
.about__inner {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__left h2 {
  color: var(--coffee, #603809);
  font-family: Playfair Display;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.about__left p {
  padding: 30px 0;
  width: 585px;
  color: #707070;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 170% */
}
.about__left button {
  border: none;
  color: #1E1E1E;
  font-family: Playfair Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 134px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #F9C06A;
  box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
}
.menu {
  margin-top: 75px;
}
.menu h2 {
  text-align: center;
  color: var(--coffee, #603809);
  font-family: Playfair Display;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.menu p {
  margin-top: 16px;
  margin-bottom: 32px;
  color: #707070;
  text-align: center;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; 
}
.menu__list {
  text-align: center;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.menu__item {
  width: 280px;
  height: 364px;
  flex-shrink: 0;
  border: 1px solid rgba(249, 192, 106, 0.42);
  background: #FFF9F1;
}
.menu__item h3 {
  margin-top: 14px;
  color: var(--coffee, #603809);
  font-family: Playfair Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.menu__item h4 {
  padding: 5px 0;
  color: #1E1E1E;
  font-family: Playfair Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu__item h5 {
  color: var(--coffee, #603809);
  font-family: Playfair Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }
.menu__btn {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.menu__btn button {
  border: none;
  color: #1E1E1E;
  font-family: Playfair Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 134px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #F9C06A;
  box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
}
.types {
  margin-top: 100px;
}
.types__top__text  {
  text-align: center;
}
.types__top__text h2 {
  color: var(--coffee, #603809);
  font-family: Playfair Display;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.types__top__text p {
  margin-top: 16px;
  margin-bottom: 32px;
  color: #707070;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}
.types__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.types__item {
  width: 280px;
  height: 284px;
  flex-shrink: 0;
  border: 1px solid rgba(249, 192, 106, 0.42);
  background: #FFF9F1;
}
.types__item:first-child {
  background: #FFEED8;
}
.types__item img {
  margin-top: 36px;
  margin-bottom: 25px;
}
.types__item h3 {
  color: var(--coffee, #603809);
  font-family: Playfair Display;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.types__item p {
  margin-top: 8px;
  color: #707070;
  text-align: center;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.types__bottom__text {
  margin-top: 32px;
  text-align: center;
}
.types__bottom__text p{
  color: #707070;
  text-align: center;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.types__bottom__text h2{
  color: var(--coffee, #603809);
  font-family: Playfair Display;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.types__btn {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}
.types button {
  border: none;
  width: 134px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #F9C06A;
  box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
  color: #1E1E1E;
  font-family: Playfair Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.top__coffee {
  height: 574px;
  margin-top: 83px;
  background-image: url(../img/Rectangle\ 14.png), url(../img/coffee_bean.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.coffee__background__color {
  height: 574px;
  background: url(../img/coffee_bean.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.top__coffee__background {
  background: var(--coffee, #603709b5); 
}
.top__coffee__background img {
  margin-left: 256px;
  margin-top: 54px;
}
.top__coffee__inner {
  position: relative;
  z-index: 10;
  display: flex;
}
.coffee__left h2 {
  margin-top: 135px;
  color: #FFF;
  font-family: Playfair Display;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.coffee__left p {
  margin: 22px 0;
  color: #FFF;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}
.coffee__left button {
  border: none;
  width: 134px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #F9C06A;
  box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
  color: #1E1E1E;
  font-family: Playfair Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.review {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 87px;
}
.review__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/Group\ 42.png), url(../img/Group\ 43.png), url(../img/Rectangle\ 09.png);
  background-repeat: no-repeat;
  background-position: left 90px top 400px, right 90px top 400px, bottom 65px center;
}
.review__inner h2 {
  color: var(--coffee, #603809);
  font-family: Playfair Display;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.review__inner p {
  margin-top: 16px;
  color: #707070;
  text-align: center;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}
.manager {
  padding: 129px 100px 0 100px;
  text-align: center;
  border: 1px solid rgba(249, 192, 106, 0.42);
  background: #FFF9F1;
  background-image: url(../img/“.png);
  background-repeat: no-repeat;
  z-index: -1;
  background-position: top 56px left 29px;
  width: 980px;
  height: 524px;
  flex-shrink: 0;
  margin-top: 45px;
  margin-bottom: 138px;
}
.manager p {
  width: 780px;
  height: 185px;
  flex-shrink: 0;
  color: #707070;
  text-align: center;
  font-family: Playfair Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.manager h3 {
  margin-top: 28px;
  color: var(--coffee, #603809);
  font-family: Playfair Display;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.manager h4 {
  margin-top: 4px;
  color: #707070;
  text-align: center;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}
.subscribe {
  flex-shrink: 0;
  height: 500px;
  background-image: url(../img/Rectangle\ 14.png);
  background-size: cover;
}
.sub__background {
  height: 500px;
  background: #603709a7;
}
.subscribe h2 {
  padding-top: 150px;
  text-align: center;
  color: #FFF;
  font-family: Playfair Display;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.subscribe p {
  padding-top: 16px;
  color: #FFF;
  text-align: center;
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; 
}
.enter {
  padding-top: 26px;
  display: flex;
  justify-content: center;
}
.enter input {
  padding-left: 30px;
  color: rgba(0, 0, 0, 0.34);
  font-family: Playfair Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; 
  width: 530px;
  height: 66px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(249, 192, 106, 0.42);
  background: #FFF9F1;
}
.enter button {
  margin-left: -10px;
  border: none;
  color: var(--coffee, #603809);
  font-family: Playfair Display;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 137px;
  height: 66px;
  border-radius: 4px;
  background: #F9C06A;
  box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
}
.footer {
  height: 550px;
  background-image: url(../img/fotter_image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  box-shadow: inset 0 350px 600px #442808, inset 0 -400px 500px #72430dc5;
}
.footer__inner {
  padding-top: 162px;
  display: flex;
  justify-content: space-between;
}
.networks p {
  margin: 20px 0;
  width: 380px;
  height: 123px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Playfair Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.logo {
  width: 207px;
  color: #FFF;
  font-family: Clicker Script;
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}
.footer__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.footer__list:last-child h4 {
  width: 332px;
  height: 54px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Playfair Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__item {
  margin-left: 80px;
}
.footer__item h3 {
  color: #FFF;
  font-family: Playfair Display;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 55px;
}
.footer__item p {
  margin: 3px 0;
  color: #FFF;
  font-family: Playfair Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; 
}
.logo__networks {
  margin-top: 10px;
}